/**universal styles**/
h2 {
	font-family: 'Merriweather', serif;
	color: white;
} 

.btn {
	font-size: 12px;
}

/**HEADER**/
.header-section {
	background-color: #A5D1DA;
}

.navbar-brand {
	font-family: 'Merriweather', serif;
	font-size: 25px;
}

.nav-item {
	padding-left: 20px;
}

.nav-pills .nav-link.active{
	background-color: transparent;
	border: solid 1px white;
}

.header-left {
	position: relative;
	left: 50px;
}

.header-right > img {
	width: 60%;
	position: relative;
	right: 90px;
}

.header-left {
	margin-left: 50px;
}

/**FEATURES**/
.features-section img {
	width: 40%;
}

/**RECENT WORK**/
.recent-work {
	background-color: #9AD5A7;
}

.recent-work p {
	font-size: 12px;
}

.thumbnails {
	padding: 0 100px;
}

/** TEMPLATE**/

.template {
	background-color: #F1F1F1;
}

.template-top img {
	width: 50%;
	position: relative;
	left:20%;
}

.template-top-content {
	position: relative;
	right: 8%;

}

.template-bottom img {
	width: 50%;
	position: relative;
	left: 27%;
}

.template-bottom-content {
	position: relative;
	right: -6%;
	
}

.btn-green {
	background-color: #9AD5A7;
}

.btn-blue {
	background-color: #A5D1DA;
}

/**TEAM**/
.team {
	background-color: #DDBAC5;
}

.team p {
	font-size: 12px;
}

.card-top {
	background-color: #F1F1F1;
	height: 150px;
}

.fa-user {
	color: white;
	padding-top: 40px;
}

.card {
	max-width: 250px;
}

.team ul {
	display: inline-block;
	padding-right: 44px;
}

.team li {
	display: inline-block;
	padding: 5px 5px 5px 5px;
}

.fb {
	color: blue;
}

.tmblr {
	color: #0366D6;
}

.pin {
	color: red;
}

/** POSTS **/
.posts {
	background-color: #A4D0D9;
}

.fa-times {
	color: white;
	padding-top: 45px;
}

.posts h4 {
	font-size: 18px;
}


/** FOOTER **/
footer {
	background-color: #3C3C3C;
}

footer p{
	color: white;
	font-size: 12px;
}

footer hr {
	color: white;
	width: 65%;
}

.copyright {
	font-size: 12px;
	padding-left: 10%;
}

.yellow {
	color: yellow;
}

footer li {
	display: inline-block;
	padding-left: 5px;
}

.footer-social {
	padding-left: 17%;
}

.footer-social a {
	color: grey;
}







