.top-navbar {
	background-color: #A5D1DA;
}

.navbar-brand {
	font-family: 'Merriweather', serif;
	font-size: 25px;
}

.nav-item {
	padding-left: 20px;
}

.nav-pills .nav-link.active{
	background-color: transparent;
	border: solid 1px white;
}

header {
	background-color: #A5D1DA;
}

img {
	width: 40%;
}

h2 {
	font-family: 'Merriweather', serif;
}

.recent-work {
	background-color: #9AD5A7;
}

.recent-work p {
	font-size: 12px;
}

.btn {
	font-size: 12px;
}

.template {
	background-color: #F1F1F1;
}

.btn-green {
	background-color: #9AD5A7;
}

.btn-blue {
	background-color: #A5D1DA;
}


